/*!
    ----------------------------------
    1. Reset CSS
    2. Fonts
    3. Default styles
    4. Header
    5. Advantage
    6. Routes
    ----------------------------------
 */

/*
    ----------------------------------
    1. Reset CSS
    ----------------------------------
*/

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
button,
p,
a,
address,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
  color: unset;
}

article,
footer,
button,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style-type: none;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

/*
    ----------------------------------
    2. Font
    ----------------------------------
*/

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/*
    ----------------------------------
    3. Default styles
    ----------------------------------
*/

:root {
  --color-main: #037E8C;
  --color-white: #FFFFFF;
  --color-black: #121214;
  --color-gray: #F4F4F4;
  --color-black-gray: #787878;

  --font-family-primary: "Montserrat", sans-serif;
}

body {
  font-size: 14px;
  color: var(--color-black);
  font-family: var(--font-family-primary), sans-serif;
}

.title {
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  line-height: 130%;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1320px;
}

.menu__list {
  gap: 42px;
  display: flex;
}

.menu__item a {
  height: 18px;
  display: flex;
  align-items: end;
}

.button {
  width: 175px;
  height: 45px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  color: var(--color-white);
  transition: background 0.5s ease;
  background-color: var(--color-main);
}

.button_white {
  border: 1px solid var(--color-main);
  color: var(--color-main);
  background-color: var(--color-white);
}

.button:hover {
  opacity: 0.8;
}

.list {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}

.list__item {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background-color: var(--color-gray);
}

.list__image {
  border-radius: 10px 10px 0 0;
}

.list__title {
  font-size: 20px;
  padding: 0 26px;
  font-weight: 800;
  margin-top: 20px;
  color: var(--color-main);
}

.list__text {
  font-size: 18px;
  padding: 0 26px;
  margin-top: 8px;
}

/*
    ----------------------------------
    3. Header
    ----------------------------------
*/


.header {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  max-height: 900px;
  max-width: 1920px;
  position: relative;
}

.header__swiper {
  top: 0;
  left: 0;
  z-index: 1 !important;
  width: 100%;
  height: 100%;
  position: absolute;
}

.header__swiper::after {
  content: '';
  position: absolute;
  inset: 0; /* top:0; left:0; right:0; bottom:0; */
  background-color: rgba(18, 18, 20, 0.75); /* #121214 с 75% непрозрачностью */
  /* Или просто: background: rgba(0, 0, 0, 0.65); для классического затемнения */
  pointer-events: none; /* чтобы клики проходили сквозь оверлей */
  z-index: 1;
}

.header__content {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
}

.header__swiper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Полупрозрачный чёрный */
  z-index: 1;
}

.header__pagination {
  margin-right: 70px;
}

.header__top {
  display: flex;
  padding-top: 12px;
  color: var(--color-white);
  justify-content: space-between;
}

.header__menu {
  gap: 60px;
  display: flex;
  margin-top: 28px;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: space-between;
}

.phone {
  display: flex;
  align-items: end;
  flex-direction: column;
}

.number {
  font-size: 20px;
}

.number::before {
  margin-right: 12px;
  vertical-align: middle;
  content: url("./images/phone.svg");
}

.phone__button {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}

.header__hero {
  margin-top: 100px;
}

.header__title {
  font-size: 70px;
  max-width: 600px;
  font-weight: 800;
  line-height: 125%;
  color: var(--color-white);
}

.header__text {
  font-size: 24px;
  margin-top: 38px;
  color: var(--color-white);
}

.header__routes {
  gap: 32px;
  width: 275px;
  display: flex;
  margin-top: 70px;
  align-items: center;
  justify-content: center;
}

/*
    ----------------------------------
    5. Advantage
    ----------------------------------
*/

.advantage {
  margin-top: 50px;
}

.advantage__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advantage__item {
  width: 100%;
  height: 170px;
  max-width: 300px;
}

.advantage__title {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 600;
}

.advantage__text {
  font-size: 18px;
  margin-top: 12px;
  line-height: 130%;
}

/*
    ----------------------------------
    6. Routes
    ----------------------------------
*/

.routes {
  margin-top: 30px;
  background-color: var(--color-gray);

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./images/routes-background.webp");
}

.routes__container {
  margin-top: 60px;
}

.line {
  height: 4px;
  width: 80px;
  margin: 16px 30px 0 0;
  background-color: var(--color-main);
}

.routes__title {
  margin-bottom: 40px;
}

.route {
  gap: 50px;
  display: flex;
  margin-top: 150px;
  align-items: center;
}

.route:nth-child(1) {
  margin-top: 0;
}

.route__container {
  display: flex;
  justify-content: space-between;
}

.route__title {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
}

.price {
  font-size: 24px;
  font-weight: 800;
  margin-top: 10px;
}

.route__info {
  margin-top: 32px;
}

.route__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.route__icon {
  margin-right: 18px;
}

.route__item-text {
  font-size: 16px;
  text-transform: uppercase;
}

.route__item-text_bold {
  font-weight: 600;
}

.route__places {
  margin-top: 32px;
}

.route__places-title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;

  display: flex;
  align-items: end;
}

.route__places-title::after {
  content: '';
  width: 24px;
  height: 24px;
  display: block;
  margin-left: 16px;
  background-image: url("./images/places.svg");
}

.route__places-text {
  margin-top: 12px;
  max-width: 520px;
  line-height: 160%;
}

.route__buttons {
  gap: 15px;
  display: flex;
  margin-top: 40px;
}

.route__swiper {
  max-width: 740px;
  margin-left: 0 !important;
}

.pagination {
  display: flex;
  margin-top: 20px;
  align-items: center;
  width: 200px !important;
  position: relative !important;
}

.pagination::after {
  width: 100px;
  font-size: 16px;
  content: 'scroll';
  margin-left: 38px;
  line-height: 24px;
  padding-left: 14px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("./images/line.svg");
}

.route__swiper-advanced {
  text-align: right;
}

.advanced {
  margin: 20px -26px 0 auto;
}

/*
    ----------------------------------
    7. Test
    ----------------------------------
*/

.test {
  margin-top: 90px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./images/test.webp");
}

.test__container {
  padding: 80px 0 90px;
  text-align: center;
}

.test__title {
  color: var(--color-white);
}

.test__text {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 500;
  color: var(--color-white);
}

.test__button {
  margin: 40px auto 0;
}

/*
    ----------------------------------
    6. Video
    ----------------------------------
*/

.video {
  margin: 0 auto;
  padding: 82px 0;
  max-width: 1920px;
  text-align: center;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url("./images/video-background.webp");
}

.video__item {
  max-width: 100%;
}

/*
    ----------------------------------
    6. Team
    ----------------------------------
*/

.team {
  padding-top: 64px;
}

.team__container {
  margin-top: 50px;
}

.list__item_team {
  width: 300px;
  height: 400px;
}

/*
    ----------------------------------
    6. Terms
    ----------------------------------
*/

.terms {
  padding: 50px 0 82px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./images/terms-background.webp");
}

.terms__title {
  margin: 0 auto;
  max-width: 520px;
}

.terms__list {
  margin-top: 44px;
  display: grid;
  row-gap: 30px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.terms__item {
  gap: 18px;
  width: 100%;
  display: flex;
  height: 120px;
  max-width: 420px;
  padding: 9px 25px 5px 9px;
  border-radius: 10px;
  background-color: var(--color-white);
}

.terms__text {
  line-height: 130%;
}


/*
    ----------------------------------
    6. Special
    ----------------------------------
*/

.special {
  padding: 160px 0 75px;
}

.special__container {
  gap: 30px;
  display: flex;
}

.special__item {
  gap: 32px;
  width: 100%;
  height: 310px;
  display: flex;
  max-width: 640px;
  border-radius: 10px;
  background-color: var(--color-gray);
}

.special__image {
  border-radius: 10px;
}

.special__info {
  overflow: hidden;
  position: relative;
}

.special__title {
  font-size: 24px;
  margin-top: 26px;
  font-weight: 600;
  line-height: 120%;
  color: var(--color-main);
}

.special__title_big {
  display: block;
  font-size: 36px;
  font-weight: 800;
}

.special__text {
  z-index: 2;
  font-size: 18px;
  margin-top: 20px;
  position: relative;
  line-height: 130%;
}

.special__button {
  z-index: 2;
  margin-top: 14px;
  position: relative;
}

.special__background {
  top: 105px;
  left: 10px;
  position: absolute;
  z-index: 1;
}

/*
    ----------------------------------
    6. Gift
    ----------------------------------
*/

.gift {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./images/gift-background.webp");
}

.gift__container {
  padding: 50px 0 90px;
}

.gift__subtitle {
  font-size: 20px;
  font-weight: 500;
  max-width: 560px;
  text-align: center;
  margin: 14px auto 0;
  color: var(--color-main);
}

.gift__content {
  display: flex;
  margin-top: 46px;
  align-items: center;
  justify-content: space-between;
}

.gift__description {
  font-size: 18px;
  max-width: 524px;
  line-height: 170%;
}

.gift__button {
  width: 275px;
  margin-top: 30px;
}

/*
    ----------------------------------
    6. Questions
    ----------------------------------
*/

.questions__container {
  margin-top: 70px;
}

.questions__content {
  gap: 160px;
  display: flex;
  align-items: center;
}

.questions__list {
  margin-top: 50px;
}

.questions__item {
  width: 100%;
  cursor: pointer;
  max-width: 540px;
  padding: 16px 25px;
  border: 1px solid var(--color-main);
  margin-top: 8px;
}

.questions__item_active .questions__item-text {
  opacity: 1;
  margin-top: 25px;
  max-height: 500px;
}

.questions__item_active .questions__item-icon {
  background-color: var(--color-main);
  transform: rotate(-90deg);
}

.questions__item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.questions__item-title {
  font-size: 16px;
  font-weight: 600;
}

.questions__item-icon {
  width: 22px;
  height: 22px;
  -webkit-mask: url('./images/questions-icon.svg') no-repeat center;
  mask: url('./images/questions-icon.svg') no-repeat center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.questions__item-text {
  line-height: 21px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 1s ease;
}

.questions__ask {
  text-align: center;
}

.questions__ask-title {
  font-size: 24px;
  margin-top: 14px;
  font-weight: 600;
}

.questions__ask-text {
  line-height: 120%;
}

.questions__ask-text:nth-of-type(1) {
  margin-top: 14px;
}

.questions__ask-text_long {
  max-width: 380px;
}

.questions__ask-button {
  margin: 30px auto 0;
}

/*
    ----------------------------------
    6. Addons
    ----------------------------------
*/

.addons {
  padding-top: 80px;
}

.list__title_addons {
  font-weight: 600;
  line-height: 130%;
}

/*
    ----------------------------------
    8. Photos
    ----------------------------------
*/

.photos {
  padding: 60px 0;
}

.photos__container {
  margin-top: 40px;
}

.photos__swiper {
  width: 100%;
  height: 410px;
  text-align: center;
}

.photos__pagination {
  display: flex;
  margin-top: 50px;
  align-items: center;
  width: 200px !important;
  position: relative !important;
}

.photos__pagination::after {
  width: 100px;
  font-size: 16px;
  content: 'scroll';
  margin-left: 40px;
  line-height: 24px;
  padding-left: 14px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("./images/line.svg");
}

.swiper-pagination-bullet-active-next {
  display: none !important;
}

/*
    ----------------------------------
    6. Contacts
    ----------------------------------
*/

.contacts {
  padding-top: 100px;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
}

.contacts__media {
  border-top: 3px solid var(--color-main);
}

.contacts__title {
  margin-top: 16px;
  text-align: left;
}

.contacts__list {
  max-width: 620px;
  margin-top: 64px;

  column-gap: 16px;
  row-gap: 40px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.contacts__item {
  gap: 16px;
  display: flex;
  align-items: center;
}

.contacts__text {
  font-size: 16px;
}

.social {
  margin-top: 16px;
}


.social__text {
  font-size: 24px;
  font-weight: 600;
  margin-top: 52px;
}

.social__icons {
  gap: 20px;
  display: flex;
  margin-top: 16px;
  align-items: center;
}

.social__icon {
  cursor: pointer;
}

/*
    ----------------------------------
    6. Footer
    ----------------------------------
*/

.footer {
  padding: 74px 0 24px;
}

.footer__container {
  gap: 200px;
  display: flex;
  padding: 2px 0;
  align-items: center;
  justify-content: right;
  border-top: 1px solid var(--color-black-gray);
  border-bottom: 1px solid var(--color-black-gray);
}

.footer__list {
  gap: 68px;
}

.footer__item {
  font-weight: 600;
  text-transform: uppercase;
}

.company {
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  color: var(--color-black-gray);
}

/*
    ----------------------------------
    . Route-details
    ----------------------------------
*/

.route-details {
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
}

.route-details__container {
  padding: 40px 0 0;
  margin: 120px auto;
  border-radius: 10px;
  background-color: var(--color-white);
}

.route-details__description {
  max-width: 1150px;
  margin: 70px auto 0;
}

.route-details__title {
  font-size: 24px;
  font-weight: 600;
}

.route-details__text {
  font-size: 16px;
  margin-top: 30px;
  line-height: 160%;
}

.quad-bike {
  margin-top: 45px;
}

.list_quad-bike {
  margin-top: 45px;
  text-align: center;
}

.list__title_quad-bike {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-black);
}

.list__text_quad-bike {
  font-size: 20px;
  font-weight: 800;
  color: var(--color-main);
}

.booking {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./images/booking-background.webp");
}

.booking__container {
  max-width: 1150px;
  padding: 55px 0 100px;
  margin: 74px auto 0;
}

.booking__title {
  font-size: 24px;
  font-weight: 600;
}

.booking__form {
  margin-top: 32px;
}

.booking__grid {
  gap: 24px;
  display: grid;
  max-width: 740px;
  font-weight: 600;
  grid-template-columns: 1fr 1fr;
}

.booking__group {
  display: flex;
  flex-direction: column;
}

.booking__input:invalid::-webkit-datetime-edit {
  opacity: 0;
}

.booking__input-wrapper {
  width: 100%;
  height: 46px;
  padding: 10px;
  display: flex;
  margin-top: 10px;
  max-width: 350px;
  border-radius: 8px;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-gray);
  background-color: var(--color-white) !important;
}

.booking__input-wrapper_btn {
  gap: 10px;
  justify-content: center;
}

.booking__input-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--color-main);
  background-color: var(--color-white);
}

.booking__input-num {
  width: 78px;
  height: 30px;
  text-align: center;
  border: 1px solid var(--color-main);
  background-color: var(--color-white);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.booking__input {
  width: 90%;
  border: none;
  font-size: 20px;
}

.booking__input::-webkit-calendar-picker-indicator {
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.booking__icon {
  top: 16px;
  right: 10px;
  transform: rotate(90deg);
  cursor: pointer;
  position: absolute;
}

.qty-input {
  width: 60px;
  text-align: center;
  border: none;
  font-size: 18px;
  padding: 12px 0;
  -moz-appearance: textfield; /* Firefox */
}

.booking__button {
  margin-top: 32px;
}