/*!
    ----------------------------------
    1. Reset CSS
    2. Fonts
    3. Default styles
    ----------------------------------
 */

/*
    ----------------------------------
    1. Reset CSS
    ----------------------------------
*/

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
  color: unset;
}

article,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style-type: none;
}

input {
  outline: none;
}

/*
    ----------------------------------
    2. Font
    ----------------------------------
*/

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}