/*!
    ----------------------------------
    1. Reset CSS
    2. Fonts
    3. Default styles
    4. Header
    5. Advantage
    6. Routes
    ----------------------------------
 */

/*
    ----------------------------------
    1. Reset CSS
    ----------------------------------
*/

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
button,
p,
a,
address,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
  color: unset;
}

article,
footer,
button,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style-type: none;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

/*
    ----------------------------------
    2. Font
    ----------------------------------
*/

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/*
    ----------------------------------
    3. Default styles
    ----------------------------------
*/

:root {
  --color-main: #037E8C;
  --color-white: #FFFFFF;
  --color-black: #121214;
  --color-gray: #F4F4F4;

  --font-family-primary: "Montserrat", sans-serif;
}

body {
  font-size: 14px;
  font-family: var(--font-family-primary), sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1320px;
}

.menu {

}

.menu__list {
  gap: 42px;
  display: flex;
}

.menu__item a {
  height: 18px;
  display: flex;
  align-items: end;
}

.button {
  width: 175px;
  height: 45px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 800;
  border-radius: 10px;
  color: var(--color-white);
  transition: background 0.5s ease;
  background-color: var(--color-main);
}

.button_white {
  border: 1px solid var(--color-main);
  color: var(--color-main);
  background-color: var(--color-white);
}

.button:hover {
  opacity: 0.8;
}

/*
    ----------------------------------
    3. Header
    ----------------------------------
*/

.header {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./images/header-background.webp");
  background-position: center center;
}

.header__top {
  display: flex;
  padding-top: 12px;
  color: var(--color-white);
  justify-content: space-between;
}

.header__menu {
  gap: 60px;
  display: flex;
  margin-top: 28px;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: space-between;
}

.phone {
  display: flex;
  align-items: end;
  flex-direction: column;
}

.number {
  font-size: 20px;
}

.number::before {
  margin-right: 12px;
  vertical-align: middle;
  content: url("./images/phone.svg");
}

.phone__button {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}

.header__hero {
  margin-top: 140px;
}

.header__title {
  font-size: 70px;
  max-width: 600px;
  font-weight: 800;
  line-height: 125%;
  color: var(--color-white);
}

.header__text {
  font-size: 24px;
  line-height: 110px;
  color: var(--color-white);
}

.header__routes {
  gap: 32px;
  width: 275px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
    ----------------------------------
    5. Advantage
    ----------------------------------
*/

.advantage {
  margin-top: 50px;
}

.advantage__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advantage__item {
  width: 100%;
  height: 170px;
  max-width: 300px;
}

.advantage__title {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 600;
}

.advantage__text {
  font-size: 18px;
  margin-top: 12px;
  line-height: 130%;
}

/*
    ----------------------------------
    6. Routes
    ----------------------------------
*/

.routes {
  margin-top: 30px;
  padding-top: 60px;
  background-color: var(--color-gray);

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./images/routes-background.webp");
}

.routes__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.routes__title {
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 40px;
}

.route {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.route__title {
  font-size: 36px;
  font-weight: 600;

  display: flex;
  position: relative;
}

.route__title::before {
  content: '';
  height: 4px;
  width: 80px;
  position: absolute;
  top: 50%;
  left: -110px;
  background-color: var(--color-main);
}

.price {
  font-size: 24px;
  font-weight: 800;
  margin-top: 10px;
}

.route__info {
  margin-top: 32px;
}

.route__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.route__icon {
  margin-right: 18px;
}

.route__item-text {
  font-size: 16px;
  text-transform: uppercase;
}

.route__item-text_bold {
  font-weight: 600;
}

.route__places {
  margin-top: 32px;
}

.route__places-title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;

  display: flex;
  align-items: end;
}

.route__places-title::after {
  content: '';
  width: 24px;
  height: 24px;
  display: block;
  margin-left: 16px;
  background-image: url("./images/places.svg");
}

.route__places-text {
  margin-top: 12px;
  max-width: 520px;
  line-height: 160%;
}

.route__buttons {
  gap: 15px;
  display: flex;
  margin-top: 40px;
}